.container {
    width: 300px;
}

.title {
    text-align: center;
    color: green;
    font-size: 30px;
    margin-bottom: 5vh;
}

form {
    font-size: 25px;
    display:flex;
    flex-direction: column;
    gap: 30px;
}

label {
    font-weight: bold;
}

input {
    font-size: 20px;
    padding: 0 10px 0 10px;
    height: 5vh;
    /*width: 15vw;*/
}

button {
    margin-top: 3vh;
    height: 5vh;
    border-radius: 3px;
    color: white;
    background-color: green;
}
